- content_for :title, "Blog Page"
= stylesheet_link_tag "application", media: :all
= stylesheet_link_tag    "articles", media: :all



%div.container.buffered-top
    -# List news article in a reverse order to show last article first.

    - @articles.reverse.each do |article|
        = will_paginate @articles,  renderer: BootstrapPagination::Rails
        .col-xs-12.col-sm-6.col-md-8.move

            %h3.time=link_to("#{article.title}", article_path(article)  )
            %p.text.time=article.date
            .image.col-sm-12
                =link_to image_tag(article.avatar.url(:medium)), article_path(article),:class => "style_image img-responsive"
            
                .caption
                    %br
                    -#Show the fist 350 characters of the article
                    %p.text=truncate( article.text, length:350)
                    %br
                    %br
                    %br
                    -#button to show the full article.

                    %div.tags
                        %p.tag= raw tag_links(article.all_tags)
