- content_for :title, "Portfolio Page"
= stylesheet_link_tag "application", media: :all
= stylesheet_link_tag    "articles", media: :all
= stylesheet_link_tag    "portfolio", media: :all
= javascript_include_tag "application"
= javascript_include_tag "portfolio"


%div.container.buffered-top
    -# List news article in a reverse order to show last article first.yes please yes it does thanklyou, okay thankyou
    - @portfolios.reverse.each_with_index do |portfolio,index|
        = will_paginate @portfolios,  renderer: BootstrapPagination::Rails
        / Trigger the modal with a button
        / Modal
        .modal.fade{:role => "dialog", id: "#{"myModal" + index.to_s}"}
            .modal-dialog
                / Modal content
                .modal-content
                    .modal-header
                        %i.fa.fa-times.fa-2x.close{"aria-hidden" => "true","data-dismiss" => "modal", :type => "button"}
                    %br

                    %h4.modal-title=portfolio.title


                    .modal-body
                        .picture
                            =image_tag portfolio.image1.url(:thumb),:class => "style_image img-responsive", :index => index
                        - if !portfolio.weblinks.blank?
                            %a.link{:href => "http://#{portfolio.weblinks}",:target => "_blank"}
                                %i.fa.fa-link.fa-2x
                        - if !portfolio.link.blank?
                            %a.link{:href => "http://#{portfolio.link}",:target => "_blank"}
                                %i.fa.fa-github.fa-2x
                        %br
                        %br
                        -#Show the fist 350 characters of the article
                        %p.text= portfolio.text

        .col-xs-12.col-sm-6.col-md-6
            .image.col-sm-12
                %a{"data-target" => "#myModal#{index.to_s}", "data-toggle" => "modal", :index => index}
                    =image_tag portfolio.image1.url(:medium),:class => "style_image img-responsive", :index => index
                %a{"data-target" => "#myModal#{index.to_s}", "data-toggle" => "modal"}
                    .imgDescription
                        .tags
                            =raw portfolio.all_tags
                        .title
                            =portfolio.title
                        %br
                        %i.fa.fa-search.fa-2x{"aria-hidden" => "true"}
