!!!
%html
  %head
    %title OOI II
    %meta{:charset => "utf-8"}/
    %meta{:content => "My personal blog", :name => "description"}/
    %meta{:content => "Omorhefere O. Imoloame", :name => "author"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }/
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = disqus_init
  %body
    .wrap
      .container-fluid.whole
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

        #myNavbar.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right.col-xs-6.col-sm-4

            = navbar_link_to :root, title: "Go to the blog page", identifier: :root do
              Blog

            = navbar_link_to :me, title: "Me", identifier: :Me do
              Me

            = navbar_link_to :portfolio, title: "Portfolio", identifier: :portfolio do
              Portfolio


        %h1.col-xs-6.col-sm-4.col-md-4.name.animated.slideInUp
          =link_to "OOI II",:root,:class => "link"

      = yield
-# Sticky foter
- if @sticky_footer
  %footer.navbar-fixed-bottom.col-sm-12
    .container#stickyFooter
      %p.col-xs-6.col-sm-4.footer
        &copy; OOI II  #{Date.today.year}

- else
  %footer.footer.col-sm-12
    .container
      %p.col-xs-6.col-sm-4.footer
        &copy; OOI II  #{Date.today.year}
